<mat-button-toggle-group multiple="false"
                         [value]="selectedView"
                         (change)="onCalendarViewChanged($event)">
    <mat-button-toggle [value]="CalendarView.Month">
        <i class="fa fa-chevron-left"></i>
        {{ viewDate | date: 'MMMM' }}
    </mat-button-toggle>
</mat-button-toggle-group>

<ng-container [ngSwitch]="selectedView">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month"
                             [viewDate]="viewDate"
                             [refresh]="refresh"
                             locale="ru"
                             [weekStartsOn]="weekStartsOn"
                             [events]="events"
                             (dayClicked)="onDayClicked($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day"
                           [viewDate]="viewDate"
                           [refresh]="refresh"
                           locale="ru"
                           [events]="events"
                           [dayStartHour]="9"
                           [dayEndHour]="22"
                           [hourSegments]="1">
    </mwl-calendar-day-view>
</ng-container>
