<mat-button-toggle-group class="calendar-nav">
    <button
            mat-raised-button 
            mwlCalendarPreviousView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate"
            [routerLink]="['../', getPreviousWeek(viewDate)]"
            [disabled]="!canNavigateBack(viewDate)">
        <i class="fa fa-chevron-left"></i>
    </button>
    <button
            mat-raised-button color="primary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
            [routerLink]="['../', getCurrentWeek()]">
        {{ 'Today' | translate }}
    </button>
    <button
            mat-raised-button color="primary"
            mwlCalendarNextView
            [view]="CalendarView.Week"
            [(viewDate)]="viewDate"
            [routerLink]="['../', getNextWeek(viewDate)]">
        <i class="fa fa-chevron-right"></i>
    </button>
</mat-button-toggle-group>


<mwl-calendar-week-view [viewDate]="viewDate"
                        locale="ru"
                        [events]="events"
                        [refresh]="refreshView"
                        [dayStartHour]="9"
                        [dayEndHour]="22"
                        [hourSegments]="1"
                        (hourSegmentClicked)="onRequestReserve($event)" >
</mwl-calendar-week-view>

<ng-template #eventTemplate let-day="day" let-locale="locale">
    <div class="cal-cell-top">
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
</ng-template>

