.cal-week-view .cal-ends-within-day .cal-event {
    padding: 0;
}

.calendar-nav {
    margin: 10px 0;
}

.cal-event-title {
    padding-left: 5px;
    font-size: 1.3em;
}

.cal-week-view .cal-event {
    border: 1px solid white;
    color: white;
    background-color: #ad9ad4;
}
